;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "0.10.0"]
  [cljs-ajax "0.8.1"]]

 :builds
 {:app {:target     :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules
                    {:main
                     {:entries [widget.medal.main]}
                     :dev
                     {:entries [widget.medal.hooks]
                      :depends-on #{:main}}}
        :devtools
                    {:after-load widget.medal.hooks/reload
                     :http-root  "public"
                     :http-port  3001}}}}
